version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: wordpress_db
    restart: always
    environment:
      # On définit le nom de la base et l'user
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      # On dit à MySQL d'aller chercher les mots de passe dans les secrets
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    secrets:
      - db_password
      - db_root_password
    networks:
      - backend
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress_app
    restart: always
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      # On dit à WordPress d'aller chercher son mot de passe dans le secret
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_password
    networks:
      - frontend
      - backend
    volumes:
      - wp_data:/var/www/html

networks:
  frontend:
  backend:

volumes:
  db_data:
  wp_data:

# Définition du chemin local vers tes fichiers secrets
secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt